{% extends 'base.html' %}

{% block title %}Confirmación de Reserva{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="card shadow p-4">
    <h2 class="text-success text-center mb-4">✅ ¡Tu reservación fue exitosa!</h2>
    <p class="text-center text-muted">Aquí tienes los detalles de tu cita, guárdalos por si las moscas:</p>

    <ul class="list-group list-group-flush mt-4">
      <li class="list-group-item"><strong>Restaurante:</strong> {{ cita.restaurante.nombre }}</li>
      <li class="list-group-item"><strong>Dirección:</strong> {{ cita.restaurante.direccion }}</li>
      <li class="list-group-item"><strong>Cliente:</strong> {{ cita.nombre_cliente }}</li>
      <li class="list-group-item"><strong>Teléfono:</strong> {{ cita.telefono }}</li>
      <li class="list-group-item"><strong>Mesa:</strong> {{ cita.mesa.numero_mesa }}</li>
      <li class="list-group-item"><strong>Fecha:</strong> {{ cita.fecha }}</li>
      <li class="list-group-item"><strong>Hora:</strong> {{ cita.hora }}</li>
    </ul>

    <div class="text-center mt-4">
      <a href="{% url 'detalle_restaurante' cita.restaurante.slug %}" class="btn btn-outline-primary">🔙 Volver al restaurante</a>
    </div>
  </div>
</div>
{% endblock %}
